.Profile {
    /* background: rgba(185, 207, 15, 0.498); */
    padding: 0px 20px;

}

.Profile .body {
    padding: 20px calc(5px + (50 - 5) * ((100vw - 1000px) / (1900 - 300)));
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 50px #e4d8d882;
}

.Profile .body .charUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile .body img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.Profile .contactInfo {
    text-align: start;
    margin: 15px 0px !important;
}

.Profile .contactInfo p,
.Profile .attachmentInfo p {
    padding: 8px 0px;
}

.Profile .contactInfo .contactInfoIcon {
    color: #8d93a2;
    margin-right: 5px;
}

.Profile .attachmentInfo {
    margin: 15px 0px !important;
}