.Dashboard .chat{ 
    /* background: rgba(227, 132, 159, 0.498); */
    padding: 5px; 
    text-align: start;
}
.Dashboard .chat h1{padding: 10px 5px;}
.Dashboard .chatList{ 
    /* background: rgba(23, 8, 111, 0.498); */
    padding: 8px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px #cac5c582;
    height: 80vh;
}
.Dashboard .chatList p{ 
  color: #BEBEBE;
  font-size: 15px; 
}
.Dashboard .chat h6, h4{ 
  color: #373737; 
  width: 100%;
}

.Dashboard .chatList .search{ 
    width: 100%;
    background-color: #e4d8d882;
    padding: 8px;
    border-radius: 3px;
    border: none;
}
.Dashboard .chatText{ 
    /* background: rgba(123, 73, 46, 0.498); */
}
.Dashboard .chatText .chatUserCard{
    margin: 20px;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px  #cac5c582;
    }
    .Dashboard .chatText .chatItemInfo{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: flex-start;
    }
.Dashboard .profile{ 
    /* background: rgba(185, 207, 15, 0.498); */ 
    padding: 0px 25px;
} 
.Dashboard .profile .body{ 
    padding: 20px calc(5px + (50 - 5) * ((100vw - 1000px) / (1900 - 300)));
    margin: 5px;
    border-radius: 5px;
    /* border:1px solid red;  */
    box-shadow: 5px 5px 50px #e4d8d882;
} 
.Dashboard .profile .contactInfo{ 
 text-align: start;
 margin: 20px 0px;
} 