.Dashboard .chat{ 
    /* background: rgba(227, 132, 159, 0.498); */
    padding: 5px; 
}
.Dashboard .chat h1{ text-align: start;padding: 10px 5px;}
.Dashboard .chatList{ 
    /* background: rgba(23, 8, 111, 0.498); */
    padding: 8px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px #cac5c582;
    height: 80vh;
}
.Dashboard .chatList p{ 
  color: #BEBEBE;
}
.Dashboard .chat h6, h4{ 
  color: #373737;
}
.Dashboard .chatList .search{ 
    width: 100%;
    background-color: #e4d8d882;
    padding: 8px;
    border-radius: 3px;
    border: none;
}
.Dashboard .chatText{ 
    /* background: rgba(123, 73, 46, 0.498); */
}
.Dashboard .profile{ 
    /* background: rgba(185, 207, 15, 0.498); */ 
    padding: 0px 25px;
} 
.Dashboard .profile .body{ 
    padding: 20px calc(5px + (50 - 5) * ((100vw - 1000px) / (1900 - 300)));
    margin: 5px;
    border-radius: 5px;
    /* border:1px solid red;  */
    box-shadow: 4px 3px 10px #e4d8d882;
} 
.Dashboard .profile .contactInfo{ 
 text-align: start;
 margin: 20px 0px;
} 