html{
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
ul, dl,ol{list-style: none;}

hr{
  margin: 0.2rem !important;
}
.bg-main{
  background-color: #F1F3F5; 
}
.text-white2{
  color: #F1F3F5; 
}
.text-main{
  color: #A3A9B7; 
}

p,h6,small{
  margin: 0px !important;
}
::-webkit-scrollbar {
  display: none;
}

@media(max-width:768px){
  html{
    font-size: 50.5%;
  }
}